<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/mvc
          http://www.springframework.org/schema/mvc/spring-mvc.xsd
          http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/aop  
          http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean definitions go here -->
    <bean id="ordersDao" 
       class="com.lokpandey.flooringmastery.dao.FlooringMasteryOrdersDaoFileImpl">
        <constructor-arg value="Orders/"/>
    </bean>
    
    <bean id="productsDao" 
          class="com.lokpandey.flooringmastery.dao.FlooringMasteryProductsDaoFileImpl">
        <constructor-arg value="Data/"/>
    </bean>
    
    <bean id="taxesDao" 
          class="com.lokpandey.flooringmastery.dao.FlooringMasteryTaxesDaoFileImpl">
        <constructor-arg value="Data/"/>
    </bean>
    
    <bean id="backupDao"
            class="com.lokpandey.flooringmastery.dao.FlooringMasteryBackupDaoFileImpl">
        <constructor-arg value="Backup/"/>
        <constructor-arg ref="ordersDao"/>
    </bean>
    
    <!-- Stub implementations for testing service layer -->
    <bean id="ordersDaoStub" 
            class="com.lokpandey.flooringmastery.dao.FlooringMasteryOrdersDaoStubImpl"/>
    <bean id="productsDaoStub" 
            class="com.lokpandey.flooringmastery.dao.FlooringMasteryProductsDaoStubImpl"/>
    <bean id="taxesDaoStub" 
            class="com.lokpandey.flooringmastery.dao.FlooringMasteryTaxesDaoStubImpl"/>
    <bean id="backupDaoStub"
            class="com.lokpandey.flooringmastery.dao.FlooringMasteryBackupDaoStubImpl">
        <constructor-arg ref="ordersDaoStub"/>
    </bean>
    <bean id="serviceLayer"
            class="com.lokpandey.flooringmastery.service.FlooringMasteryServiceLayerImpl">
        <constructor-arg ref="ordersDaoStub"/>
        <constructor-arg ref="productsDaoStub"/>
        <constructor-arg ref="taxesDaoStub"/>
        <constructor-arg ref="backupDaoStub"/>
    </bean>
    
    <!-- Actual implementation to replace stub implementation -->
     
<!--<bean id="serviceLayer"
            class="com.lokpandey.flooringmastery.service.FlooringMasteryServiceLayerImpl">
        <constructor-arg ref="ordersDao"/>
        <constructor-arg ref="productsDao"/>
        <constructor-arg ref="taxesDao"/>
        <constructor-arg ref="backupDao"/>
    </bean>-->
    
</beans>
